# Virtualenv
venv/
__pycache__/

# Directories related to Git
.git/
.gitignore

# Files related to Docker
docker-compose.yml
Dockerfile

# Build artifacts
*.pyc
*.pyo
*.pyd
*.db
*.log

# Setting file for IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env

# dockerignore file